* {
    font-family:'Salsa', cursive;
    font-size: 15px;
    color: black;
}
.page-container {margin: 0; padding: 1px; width: 100%;}
.nav-links {
    padding: .5em; 
    margin-right: .4em;
}
.nav-links ul {
    list-style-type: none;
    float: right;
}
.nav-links ul li {
    display: inline-block;
}
#par {
     padding: 2em;
     margin-left: 1em;
}
#para {
    padding: 2em;
    margin-left: 1em;
}
h1 {
     font-size: 24.6px;
}
h2 {
     font-size: 21px;
     padding: 1.5em;
}
h3 {
     font-size: 18px;
     text-decoration: underline;    
}
#line {
    border-top: 3px solid #77a3e4;
}
.link ul li {
    list-style-type: none;
    padding-bottom: 1em;
}
.jumbotron {
      background:url(./petal.jpg); 
}
.border-box {
      border: 2px solid #77a3e4;
      padding: 2.3em;
      margin: 1em;
      width: 96%;
      height: auto;
      border-style: outset;
      /*text-align: center;
      vertical-align: middle; */
}
.border-box .img {
      flex-direction: column;
} 
.img {
    width: 374px;
    height: auto;
}

.nav-links a:link {
    color:#862d59;
}

.nav-links a:hover {
    color: black;
}

nav.link a:link {
    color: #862d59;
}

nav.link a:hover {
    color: black;
}
