* {
    font-family:'Salsa', cursive;
    font-size: 30px;
}
.page-container {margin: 0; padding: 20px; width: 100%;}
.nav-links {
    /*background-color:#993300;
    border-radius: 7px;
    width: 99%;
    height: 6em;*/
    padding: .5em; 
    margin-right: 0;
}
.nav-links ul {
    list-style-type: none;
    float: right;
}
.nav-links ul li {
    display: inline-block;
   /*  background-color:  #42b300; 
    border-radius: 12px;
    padding: 1.5em;*/
}
 #par {
     padding: 2em;
     margin-left: 7em;
 }
 #para {
    padding: 2em;
    margin-left: 6.2em;
}
 #float {
     float: right;
     font-size: 40px;
     align-items: center;
 }
 h1 {
     font-size: 45px;
 }
 h2 {
     font-size: 38px;
 }
 #line {
    border-top: 3px solid #0047b3;
  }
  .link ul li {
    list-style-type: none;
    padding-bottom: 1em;
  }
  .jumbotron {
      background:url(./petal.jpg); 
  }